---
//@ts-nocheck
const { kunstner } = Astro.props;
---

<article>
    <img src="{kunstner.billede}" alt="kunstnerimg">
  <h2>{kunstner.navn}</h2>
  <p>{kunstner.dato}</p>
  <p>{kunstner.tid}</p>
  <p>{kunstner.beskrivelse}</p>
  <p>{kunstner.youtubelink}</p>
  <p>{kunstner.spotifylink}</p>
</article>

<style>

</style>
