---
const { h2, h3, tekst, ctaText, ctaLink, billede } = Astro.props;
---
<div class="card">
<h2>{h2}</h2>
<h3>{h3}</h3>
<p>{tekst}</p>
<img src={billede} />
  <a href={ctaLink}>{ctaText}</a>


</div>

<style>
.card {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 20px;
  color: white;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin: 1rem 0;
}
</style>